:host{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.input{
    position: relative;
}
div.input label{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    background: white;
    padding: 5px 2px;
}
div.input input{
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}
div.input{
    margin-top: 20px;
}
span.bold-red {
    color: red;
    font-weight: bold;
}
button {
    background-color: #01A9DB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.submit {
    margin-top: 23px;
    text-align: right;
}